<mat-card>
    <mat-card-title>
        Person Data
    </mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <span mat-line>
                    vorname
                </span>
                <span mat-title>
                    {{data.vorname}}
                </span>
            </mat-list-item>
            <mat-list-item>
                <span mat-line>
                    nachname
                </span>
                <span mat-title>
                    {{data.nachname}}
                </span>
            </mat-list-item>
            <mat-list-item>
                <span mat-line>
                    alter
                </span>
                <span mat-title>
                    {{data.alter}}
                </span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Status
    </mat-card-title>
    <mat-card-content>
        <mat-list>
           
        </mat-list>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Points Data
    </mat-card-title>
    <mat-card-content>
        <mat-list>
           
        </mat-list>
    </mat-card-content>
</mat-card>