<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Survey Creator</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <mat-stepper orientation="vertical" style="width: 100%;">

                <mat-step>
                    <ng-template matStepLabel>Start Creating Your Survey</ng-template>

                    <form #nameForm="ngForm">
                        <div class="form-container">
                        <p>Name Your Survey</p>
                        
                            <mat-form-field appearance="fill" floatLabel="always">
                                <mat-label>Enter Survey Title</mat-label>
                                <input matInput placeholder="Survey Title" ngModel name="surveyTitle">
                                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint> -->
                            </mat-form-field>
                        
                        </div>
                    </form>

                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Customize Category</ng-template>

                    <form #descForm="ngForm">
                        <div class="form-container">
                        
                            <mat-form-field appearance="fill" floatLabel="always">
                                <mat-label>Enter Survey Art</mat-label>
                                <mat-select ngModel name="surveyCategory">
                                    <mat-option value="one">Survey</mat-option>
                                    <mat-option value="two">Quick Vote</mat-option>
                                    <mat-option value="two">Quick Vote - Off Topic</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill" floatLabel="always">
                                <mat-label>Enter Survey Thema</mat-label>
                                <mat-select ngModel name="surveyCategory">
                                    <mat-option value="one">Agrar</mat-option>
                                    <mat-option value="two">Essen</mat-option>
                                </mat-select>
                            </mat-form-field>
                        
                        </div>  
                    </form>

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Finish Your Survey</ng-template>

                    <div>
                        <button mat-button (click)="submitSurvey(nameForm, descForm)">Submit</button>
                    </div>

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>
                </mat-step>
            </mat-stepper>

        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>
</div>