.container {
    height: 100%;    

    background-color: brown;       

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

mat-card {

    margin-top: 50px;
    margin-bottom: 50px;

    height: 100%;
    width: 80%;

}



.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }