<mat-card>
    <mat-card-header>
        <mat-card-title>Rating Question Form</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form #numForm="ngForm">
            <div class="form-container">
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Enter Question Text</mat-label>
                    <input matInput ngModel name="textValue">
                </mat-form-field>                
            </div>
        </form>
        <mat-card *ngIf="state != null && state == 'set'" style="background-color: green; color: white;">
            <mat-card-header>
                <mat-card-title>HURRAY!!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{this.msg}}</p>
                {{this.action_text}}
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="state != null && state == 'set'">
            <mat-card-header>
                <mat-card-title>
                    Optional Settings
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="form-container">
                    <mat-checkbox [(ngModel)]="isRequired">Is Required</mat-checkbox>            
                </div>

                <div class="form-container">
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>minRateDescription</mat-label>
                        <input matInput [(ngModel)]="minRateText">
                    </mat-form-field>
                </div>

                <div class="form-container">
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>MaxRateDescription</mat-label>
                        <input matInput [(ngModel)]="maxRateText">
                    </mat-form-field>
                </div>

                <div class="form-container">
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Style Type</mat-label>
                        <mat-select [(ngModel)]="styleType">
                            <mat-option value="default">Default</mat-option>
                            <mat-option value="button">Buttons</mat-option>
                            <mat-option value="dropdown">Dropdown</mat-option>
                        </mat-select>                  
                    </mat-form-field>                
                </div>
                
                
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="state != null && state == 'err'" style="background-color: red; color: white;">
            <mat-card-header>
                <mat-card-title>OH NO!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{this.msg}}</p>
                <p>{{this.action_text}}</p>
            </mat-card-content>
        </mat-card>

    </mat-card-content>

    <mat-card-actions>
        <div>
            <button mat-button [disabled]="current_question != null" (click)="setQuestion(numForm)">Set Question</button>
            <button mat-button [disabled]="current_question == null" (click)="preview()">Preview</button>
            <button mat-button [disabled]="current_question == null" (click)="sendValue(numForm)">Add To Survey</button>
        </div>
        <div>
            <button mat-button (click)="clearValues(numForm)">Clear Form</button>
        </div>
    </mat-card-actions>

    <mat-card-footer>
        <mat-card *ngIf="surveyJson != null">
            <app-survey-viewer [surveyJson]="surveyJson"></app-survey-viewer>
        </mat-card>
    </mat-card-footer>
</mat-card>