<!-- old
<div>
    <mat-stepper orientation="vertical" style="width: 100%;" selectedIndex="{{currIdx}}">
        <mat-step>
            <ng-template matStepLabel>Choose your Type of Question</ng-template>

            <form #categoryForm="ngForm">
                <div class="form-container">
                
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Enter Survey Category</mat-label>
                        <mat-select ngModel name="surveyCategory">
                            <mat-option value="text">text</mat-option>        
                            <mat-option value="option">option</mat-option>                      
                        </mat-select>
                    </mat-form-field>
                
                </div>  
            </form>

        </mat-step>
        <mat-step *ngIf="this.cat_mode == 'text'">
            <ng-template matStepLabel>What Question do you have?</ng-template>

            <form #titleForm="ngForm">
                <div class="form-container">
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Enter Survey Title</mat-label>
                        <input matInput placeholder="Survey Title" ngModel name="surveyTitle">
                       
                    </mat-form-field>
                </div>
            </form>

            <div>
                <button mat-button (click)="getText(categoryForm, titleForm)">Get Json</button>
            </div>
        </mat-step>
        <mat-step *ngIf="this.cat_mode == 'text'">
            <ng-template matStepLabel>What Question do you have?</ng-template>

            <form #titleForm="ngForm">
                <div class="form-container">
                    <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Enter Survey Title</mat-label>
                        <input matInput placeholder="Survey Title" ngModel name="surveyTitle">
                      
                    </mat-form-field>
                </div>
            </form>

            <div>
                <button mat-button (click)="getText(categoryForm, titleForm)">Get Json</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Your Survey Options</ng-template>

            
            <div>
                
                <button mat-button (click)="getJson(this.surveyJson)">Send Json</button>
                <button mat-button (click)="goToFirst()">Go To First</button>
            </div>
        </mat-step>       
    </mat-stepper>
</div>

<div>

</div>

 -->

<div class="container">
    <div class="editor_container">
        <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Question Type</mat-card-title>
                </mat-card-header>
                <mat-card-content>                    
                    <div class="form-container">
                        <mat-form-field appearance="fill" floatLabel="always">
                            <mat-label>Enter Survey Category</mat-label>
                            <mat-select [(ngModel)]="surveyCategory">
                                <mat-option value="text">Text</mat-option>
                                <mat-option value="check">Checkbox</mat-option>
                                <mat-option value="opt">Options</mat-option>
                            </mat-select>
                        </mat-form-field>                                        
                    </div>
                </mat-card-content>
                <!-- <mat-card-actions>
            <button mat-button (click)="setSurveyType()">Select Survey Type</button>
        </mat-card-actions> -->
            </mat-card>
        </div>
        <div [ngSwitch]="surveyCategory">
            <!-- <mat-card *ngSwitchCase="'default'">
                <p>Hello Default</p>
            </mat-card> -->
            <mat-card *ngSwitchCase="'text'">
                <form #textForm="ngForm">
                    <div class="form-container">
                        <mat-form-field appearance="fill" floatLabel="always">
                            <mat-label>Enter Survey Text</mat-label>
                            <input matInput ngModel name="textValue">
                        </mat-form-field>
                        <div>
                            <button mat-button (click)="buildElementFromText(textForm)">Add Question to Survey</button>
                        </div>
                    </div>
                </form>
            </mat-card>
            <mat-card *ngSwitchCase="'check'">
                <form #checkForm="ngForm">
                    <div class="form-container">
                        <mat-form-field appearance="fill" floatLabel="always">
                            <mat-label>Check Question Text</mat-label>
                            <input matInput ngModel name="textValue">
                        </mat-form-field>
                        <div>
                            <button mat-button (click)="buildElementFromCheck(checkForm)">Add Question to Survey</button>
                        </div>
                    </div>
                </form>
            </mat-card>
            <mat-card *ngSwitchCase="'opt'">
                <form #optForm="ngForm">
                    <div class="form-container">
                        <mat-form-field appearance="fill" floatLabel="always">
                            <mat-label>Question Text</mat-label>
                            <input matInput ngModel name="questValue">
                        </mat-form-field>                                      
                        <div>
                            <button mat-button (click)="buildElementFromOpt(optForm)">Add Question to Survey</button>
                        </div>
                    </div>
                    <form>
                        <mat-form-field appearance="fill" floatLabel="always">
                            <mat-label>Option Text</mat-label>
                            <input matInput ngModel name="textValue">
                          
                        </mat-form-field>     
                        <div>
                            <button mat-button (click)="addOption(textValue)">Add Option to Question</button>
                        </div>   
                    </form>
                </form>
              
            </mat-card>
        </div>
    </div>
    <div class="view_container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <p>List</p>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-list *ngFor="let item of curr_elements">
                    <mat-list-item>
                        <p>
                            {{item.name}}
                        </p>
                        <br>
                        <p>
                            {{item.title}}
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>


    </div>
    <div class="menu_container"> 
        <mat-card>
            <mat-card-actions>
                <div>

                    <button mat-button (click)="getJson()">Send Json</button>
                    
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>