<mat-card>
    <mat-card-header>
        <mat-card-title>Question Type</mat-card-title>
    </mat-card-header>
    <mat-card-content>                    
        <div class="form-container">
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Enter Survey Category</mat-label>
                <mat-select [(ngModel)]="surveyCategory">
                    <mat-option value="text">Text</mat-option>
                    <mat-option value="check">Checkbox</mat-option>
                    <mat-option value="opt">Options</mat-option>
                </mat-select>
            </mat-form-field>                                        
        </div>
    </mat-card-content>
    <!-- <mat-card-actions>
<button mat-button (click)="setSurveyType()">Select Survey Type</button>
</mat-card-actions> -->
</mat-card>

<mat-card>    
    <mat-card-content>

        <div *ngIf="surveyCategory == 'text'">
            <app-text-question (getValueEvent)="getTextQuestion($event)"></app-text-question>
        </div>

        <div *ngIf="surveyCategory == 'check'">
            <app-check-question></app-check-question>
        </div>

        <div *ngIf="surveyCategory == 'opt'">
            <app-dropdown-question (getValueEvent)="getDropdownQuestion($event)"></app-dropdown-question>
        </div>


    </mat-card-content>
    
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Current Elements
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list *ngFor="let item of curr_elements">              
            <p>Name: {{item.name}}</p> 
            <p>Required: {{item.isRequired}}</p>  
            <p *ngIf="item.type == 'text'">input type: {{item.inputType}}</p>   
        </mat-list>
    </mat-card-content>
</mat-card>


<div class="menu_container"> 
    <mat-card>
        <mat-card-actions>
            <div>
                <button mat-button (click)="getJsonExample()">Send Json</button>                
            </div>
        </mat-card-actions>
    </mat-card>
</div>