<div class="container">

    
    <mat-card>
        <mat-card-title>
            <mat-card-header>Feed Back Tank</mat-card-header>
        </mat-card-title>

        <mat-card-actions>
            <button mat-button (click)="backToHome()">Back Home</button>
        </mat-card-actions>
    </mat-card>


    <div *ngIf="mode == 'display'; then thenBlock else elseBlock"></div>
</div>

<ng-template #thenBlock>
    <mat-card>
        <mat-card-title>
            Feeback Report Number #1
        </mat-card-title>
        <mat-card-subtitle>
            Wer hat es gemeldet?
        </mat-card-subtitle>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <span mat-line>
                        Kategorie:
                    </span>
                    <span mat-title>
                        
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span mat-line>
                        Erstellt am:
                    </span>
                    <span mat-title>
                        
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span mat-line>
                        Beschreibung:
                    </span>
                    <span mat-title>
                        
                    </span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Ignore Feedback</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-title>
            Feeback Report Number #2
        </mat-card-title>
        <mat-card-subtitle>
            Wer hat es gemeldet?
        </mat-card-subtitle>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <span mat-line>
                        Kategorie:
                    </span>
                    <span mat-title>
                        
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span mat-line>
                        Erstellt am:
                    </span>
                    <span mat-title>
                        
                    </span>
                </mat-list-item>
                <mat-list-item>
                    <span mat-line>
                        Beschreibung:
                    </span>
                    <span mat-title>
                        
                    </span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Ignore Feedback</button>
        </mat-card-actions>
    </mat-card>
</ng-template>

<ng-template #elseBlock>
    <mat-card>       
        <mat-card>
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>Melde Feedback</mat-card-title>
                <mat-card-subtitle>this is Feedback card</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="text-align: center;">
                <form #loginForm="ngForm">
                    <p>
                        <mat-form-field appearance="fill">
                            <mat-label>Fill form field</mat-label>
                            <input matInput placeholder="Email" ngModel name="loginEmail">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="fill">
                            <mat-label>Fill form field</mat-label>
                            <input matInput placeholder="Password" type="password" ngModel name="loginPw">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                </form>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button >SUBMIT LOGIN</button>
            </mat-card-actions>
        </mat-card>

    </mat-card>
</ng-template>