<mat-card>
    <mat-card-actions>
        <button mat-button (click)="setModeToOrder()">Order</button>
        <button mat-button (click)="setModeToPanel()">Panel</button>
    </mat-card-actions>
</mat-card>
<mat-card *ngIf="mode == 'order'">
    <mat-card-header>
        <mat-card-title>Current Order of Elements</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of curr_elements" cdkDrag>
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                <h3 matListItemTitle>{{item.title}}</h3>
                <p matListItemLine>{{item.type}}: {{item.inputType}}</p>
            </div>
        </div>

    </mat-card-content>

</mat-card>
<mat-card *ngIf="mode == 'panel'">

    <mat-card-header>
        <mat-card-title>Elements to Panel</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-card>
            <div>

                <form #textForm="ngForm">
                    <div class="form-container">
                        <mat-form-field appearance="fill" floatLabel="always">
                            <mat-label>Enter Panel Text</mat-label>
                            <input matInput [(ngModel)]="panelTitle" name="textValue">
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </mat-card>

        <div class="example-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>Current Elements</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="curr_elements"
                        [cdkDropListConnectedTo]="[doneList]" class="example-list"
                        (cdkDropListDropped)="dropPanel($event)">
                        <div class="example-box" *ngFor="let item of curr_elements" cdkDrag>
                            <h3 matListItemTitle>{{item.title}}</h3>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>


        </div>

        <div class="example-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>Panel</h2>                        
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                   

                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="panel_content"
                        [cdkDropListConnectedTo]="[todoList]" class="example-list"
                        (cdkDropListDropped)="dropPanel($event)">
                        <div class="example-box" *ngFor="let item of panel_content" cdkDrag>
                            <h3 matListItemTitle>{{item.title}}</h3>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>


    </mat-card-content>

    <mat-card-actions>
        <button mat-button class="wide-button" (click)="addPanelToElements()">Save Panel</button>
    </mat-card-actions>

</mat-card>