
        <mat-card>
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>Edit your Profile Data</mat-card-title>
                <mat-card-subtitle>this is edit card</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form #registerForm="ngForm">
                    <p>
                        Vorname: 
                        <mat-form-field appearance="fill">
                            <mat-label>Fill form field</mat-label>
                            <input matInput placeholder="Username" ngModel name="registerName">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p>
                        Nachname: 
                        <mat-form-field appearance="fill">
                            <mat-label>Fill form field</mat-label>
                            <input matInput placeholder="Email" ngModel name="registerEmail">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p>
                        Alter: 
                        <mat-form-field appearance="fill">
                            <mat-label>Fill form field</mat-label>
                            <input matInput placeholder="Password" type="password" ngModel name="registerPw">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                </form>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button>SUBMIT Changes</button>
            </mat-card-actions>
        </mat-card>
